*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --green: rgb(51, 206, 21);
}

html {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("bg.svg");
    background-size: 15rem;
}

body {
    margin: 0;
    padding: 0rem;
}

div.main {
    max-width: 700px;
    padding: 0rem 1rem;
    margin: 0 auto;
}

form {
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 0.75rem;
}

label, .form-group p{
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    margin: 0;
}

input, textarea, button{
    color: white;
    font-size: 1.2rem;
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0rem;
    border: none;
    border-radius: 0rem;
    border-bottom: 0.2rem solid rgba(0,0,0,0.5);
    background-color: rgba(0,0,0,0.1);
    /* box-shadow: rgba(0,0,0,0.25) 0 0 0.25rem; */
}

button {
    background-color: var(--green);
    border-bottom: none;
    box-shadow: 0 0 0.25rem rgba(0,0,0,0.25);
}

input[type=number] {
    /* width: unset; */
    display: block;
}

input[type=radio], input[type=checkbox] {
    vertical-align: middle;
    position: relative;
    bottom: 0.1rem;
    display: inline;
    width: unset;
    margin: 0;
}

::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
}

select {
    display: block;
    line-height: inherit;
    padding: 0.5rem;
    margin: 0.5rem 0rem;
    /* height: 2.5rem; */
    min-height: 1rem;
    font-size: inherit;
    background-color: rgba(0,0,0,0.1);
    border: none;
    border-radius: 0rem;
    appearance: none;
    -webkit-appearance: none;
    -webkit-rtl-ordering: logical;
    font-family: inherit;
    width: 100%;
    color: white;
    text-shadow: none;
    background-clip: padding-box;
}

.form-group {
    margin: 0rem 0rem 2rem 0rem;
}

.radio-group label{
    margin: 0.5rem 1rem 0.5rem 0rem;
    display: inline-block;
    /* margin-right: 1rem; */
    font-weight: normal;
    background-color: rgba(0,0,0,0.1);
    padding: 0.5rem;
    /* margin-top: 0.5rem; */
    /* margin-bottom: 0.5rem; */
}

div.header {
    text-align: center;
    color: white;
    padding: 4rem 2rem;
}

div.header h1 {
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
}

div.header p {
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

footer {
    color: white;
    padding: 2rem 2rem;
    text-align: center;
}

a {
    color: var(--green);
    text-shadow: 0 0 0.25rem rgba(0,0,0,0.5);
}

@media (max-width: 600px) {
    html {
        font-size: 14px;
    }
    div.main {
        padding: 0;
    }
    div.header {
        padding: 2rem 0rem;
    }
    form {
        padding: 1rem 1rem;
    }
}